@font-face {
  font-family: daruma;
  src: url("../fonts/DarumadropOne-Regular.ttf");
}

:root,
[data-md-color-scheme="default"] {
  --md-default-bg-color: #fdf8ea;
}

:root {
  --md-text-font: ui-rounded, "Hiragino Maru Gothic ProN", Quicksand, Comfortaa,
    Manjari, "Arial Rounded MT", "Arial Rounded MT Bold", Calibri,
    source-sans-pro, sans-serif;

  --md-code-font: Roboto Mono, monospace;

  line-height: 1.5;
}

h1, h2 {
  font-family: "daruma", var(--md-text-font);
}

.md-typeset ul {
  list-style-type: circle;
}

.md-typeset ol li,
.md-typeset ul li {
  margin-bottom: 20px;
}

.md-nav {
  font-size: 0.8rem;
  line-height: 1.6;
}

.md-typeset {
  font-size: 0.9rem;
}

.bold {
  font-weight: bold;
  color: var(--md-accent-fg-color);
}

.underline {
  text-decoration: underline;
}

.profile-img {
  float: right;
  width: 350px;
  margin: 0 50px 50px 0;
}

.skrunkle-img {
  width: 200px;
  float: left;
}

@media screen and (max-width: 480px) {
  .profile-img {
    float: none;
    margin: 10px;
  }
}
